.ui-dialog .ui-dialog-buttonpane { 
text-align: right;
padding-left: 1em;/**/

}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
float: none;
padding-left: 0.4em;
}

.modalButtonLeft
{
	float: left;
}

.modalButtonLeft:first-child
{
	margin-left: 0.4em;
}